* {
   
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: white;
  }
  
  :root {
    --primary-color: #4a6bff;
    --text-dark: #333;
    --text-medium: #555;
  }